version: "3.6"

services:
  mysql:
    image: mysql:8
    command: --local-infile
    environment:
      MYSQL_ROOT_PASSWORD: mysql_passwd
      MYSQL_DATABASE: kestra
    ports:
      - "64790:3306"

  postgres:
    image: bitnami/postgresql:latest
    environment:
      POSTGRESQL_PASSWORD: pg_passwd
      POSTGRESQL_PGHBA_REMOVE_FILTERS: local, md5
      POSTGRESQL_ENABLE_TLS: "yes"
      POSTGRESQL_TLS_CERT_FILE: /var/lib/postgresql/server.crt
      POSTGRESQL_TLS_KEY_FILE: /var/lib/postgresql/server.key
      POSTGRESQL_TLS_CA_FILE: /var/lib/postgresql/ca.crt
    ports:
      - "56982:5432"
    volumes:
      - ./certs/ca.crt:/var/lib/postgresql/ca.crt
      - ./certs/server/server.crt:/var/lib/postgresql/server.crt
      - ./certs/server/server.key:/var/lib/postgresql/server.key

  vertica:
    image: jbfavre/vertica:latest
    environment:
      DATABASE_PASSWORD: vertica_passwd
    ports:
      - "25433:5433"

  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - "28123:8123"
      - "29000:9000"

  oracle:
    image: wnameless/oracle-xe-11g-r2
    ports:
      - "49161:1521"
    environment:
      ORACLE_ALLOW_REMOTE: "true"

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - "41433:1433"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: Sqls3rv3r_Pa55word!

  trino:
    image: trinodb/trino
    ports:
      - "48080:8080"

